{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>tindomedia</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/images/logo.jpg" rel="icon">
  <!-- <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Aug 15 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <!-- <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
       
        <img src="static/images/logo.jpg" alt=""> 
        
      </a> -->
      <div class="logo d-flex align-items-center justify-content-start ms-0">
        <img src="static/images/logo.jpg" alt="" style="max-height: 70px;">
    </div>
    

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Packages</a></li> 
          <!-- <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul> -->
              </li>
              <!-- <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4"></a></li> -->
            <!-- </ul> -->
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- <a class="btn-getstarted" href="index.html#about">Get Started</a> -->

    </div>
  </header>

  

  {% block body%}

            
  {% endblock body%}


          

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="static/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Want to Learn More About Our Packages?</h3>
              <p>Discover how Tindo Media can elevate your brand with our comprehensive social media marketing packages.</p>
              <a class="cta-btn" href="#team">Explore Our Packages</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    

  <footer id="footer" class="footer dark-background">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <!-- <span class="sitename">GP</span> -->
              <img src="static/images/logo.jpg" alt=""> 
            </a>
            <div class="footer-contact pt-3">
              <p>South B, Shikunga Road
                Nairobi-Kenya</p>
              <!-- <p>New York, NY 535022</p> -->
              <p class="mt-3"><strong>Phone:</strong> <span>+254-752453003</span></p>
              <!-- <p><strong>Email:</strong> <span>info@tindomedia.com</span></p> -->
              <p><strong>Email:</strong> <span><a href="mailto:info@tindomedia.org">info@tindomedia.org</a></span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href="https://tiktok.com/tindomedia" target="_blank"><i class="bi bi-tiktok"></i></a>
              <a href="https://facebook.com/tindomedia" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/tindomedia" target="_blank"><i class="bi bi-instagram"></i></a>
              
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#hero"> Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#about"> About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services"> Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#contact"> Contact Us</a></li>
   
              <li><i class="bi bi-chevron-right"></i> <a href="#team"> Packages</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i>  Content Marketing</li>
              <li><i class="bi bi-chevron-right"></i> Market Analysis</li>
              <li><i class="bi bi-chevron-right"></i> Location Targeting</li>
              <li><i class="bi bi-chevron-right"></i>  Market Strategy</li>
              <li><i class="bi bi-chevron-right"></i> Social Media Outreach</li>
              <li><i class="bi bi-chevron-right"></i>  User Engagement</li>
              <li><i class="bi bi-chevron-right"></i>  Viral Marketing</li>
              <li><i class="bi bi-chevron-right"></i> Marketing Automation</li>

            </ul>
          </div>

          <!-- <div class="col-lg-4 col-md-12 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
            <form action="static/forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div> -->

        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">2025</strong> <span>All Rights Reserved.</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>